@use "../../scss/" as *;
.page-header {
    padding: $header-height 2rem;
    background-size: cover;
    background-repeat: no-repeat;
    h2 {
        text-align: center;
        position: relative;
        z-index: 99;
    }
}
